/*Gummy Form style*/
.gfbg{
  background-image: url("https://i.pinimg.com/originals/af/08/15/af08152f673e8e0f147edc7d68a2d41d.png");
  background-size: 50px;
  text-align: left;
  min-width: 400px;
}
.gfmain{
  width: 40%;
}
@media(max-width:550px){
  .gfmain{
    margin: 0 auto;
    background-color:#ffbf50;
    /*text-align: center;
    width: 50%;*/
  }
  #name{
    max-width: 80%;
  }
  #correio{
    max-width: 80%;
  }
  #idade{
    max-width: 80%;
  }
  #frase_real{
    max-width: 80%;
  }
}
/*
@media(min-width:550px){
  .gfmain{
    margin: 0 auto;
    background-color:#ffbf50;
    border: 2px solid #335533;
    border-radius: 2px;
    /*text-align: center;*/
    width: 40%;
  }
}*/
#title{
  font-size:40px;
  color: #338833;
}
#description{
  color: #338833;
}
.gfradio{
	text-align: right;
	width: 30%;
}
form{
	padding: 20px;
}
#submit{
  padding: 10px;
  margin: 10px;
  background-color: #338833;
}
p{
  padding: 10px;
}
#back{
  padding: 10px;
  background-color: #338833;
}