html,body{
    min-width: 290px;
    background-color: #ffbf50;
    text-align: left;
}
#navbar{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color:#338833;
}
#navbar header{
    color: darkgreen;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
}
#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li{
    color: #338833;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a{
    display: block;
    padding: 10px 30px;
    color: #338833;
    text-decoration: none;
    cursor: pointer;
}
#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
.h1_title{
    color:#338833;
    font-size: 1.8em;
    padding: 5px;
}
#gridcontainer{
    border: #335533 2px solid;
    width: 40%;
    min-width: 300px;
}
.grid{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    margin: 5px 5px 5px 5px;
}
.title_grid{
    font-weight: bolder;
}
.title_grid > h5,h4{
    text-align: center;
    flex-direction: row;
    
}
.coluna1{
    font-weight: bold;
    text-align: center;
    width: 40%;
    flex-direction: column;
}
.coluna2{
    align-content: justify;
    width: 60%;
    flex-direction: column;
    justify-content: center;
}
.foot{
    display: block;
}
#foot a:visited{
    color: white;
}
@media(max-width: 600px){
    #navbar{
        position: absolute;
        top:0;
        padding: 0;
        width: 100%;
        max-height: 500px;
    }
    #main-doc{
        position: relative;
        margin-left: 0px;
        margin-top: 500px;
    }
}